<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <h1>Modelo Precargado</h1>
    <table>
        <tr>
            <th></th>
            {% for n in range(1,19): %}
                <th>{{ n }}</th>
            {% endfor %}
        </tr>
        {% for n in range(1,11): %}
        <tr>
            <th>{{ n }}</th>
            {% for dato in intensidad: %}
                {% if dato.enfermedadId == n %}    
                    <th>{{ dato.intensidad }}</th>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

<!-- 
    <ul>
        {% for enfermedad in enfermedades: %}
            <li>{{enfermedad.idEnfermedades}}</li>
        {% endfor %}
    </ul>
    <ul>
        {% for enfermedad in enfermedades: %}
            <li>{{enfermedad.nombre}}</li>
        {% endfor %}
    </ul> -->
</body>
</html>