{% extends 'muestra.html' %}
{% block mC %}
<table class="table table-dark" >
    <thead>
      <tr>
        <td></td>
        {% for x in range(1, 19): %}
            <td>{{x}}</td>
        {% endfor %}
        <td>Sumatoria</td>
      </tr>
    </thead>
    <tbody>
        {% for x in range(contador): %}

            <tr>
                <td>{{x+1}}</td>
                {% for y in range(18): %}    
                    {% if x == vef-1: %}
                        <td style="background-color: gray;">{{ compara2[x][y] }}</td>
                    {% else: %}
                        <td >{{ compara2[x][y] }}</td>
                    {% endif %}
                {% endfor %}
               
                    <td>{{s2[x]}}</td>
               
            </tr>
            
        {% endfor %}
    </tbody>
</table>

{% endblock %}