{% extends 'index.html' %}
{% block content %}
<br>
<h2 class="display-3 text-center">Diagnostico de enfermedades aplicando lógica difusa</h2>
<br>
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="/">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/modelo">Modelo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/llenado">Llenado de datos</a>
    </li>
</ul>
<br>
<br>
<h2 class="display-5 text-center font-weight-bold">Las integrantes del equipo son:</h2>
<h2 class="display-5 text-center font-weight-bold">Nuñez Baeza Ismael Josetp  Exp: 267803</h2>    
<br>
<br>
<p class="text-left">
    El objetivo es el desarrollo de un módulo de diagnóstico de enfermedades aplicando Lógica Difusa.
    <br>
    Las enfermedades a diagnosticar deben pertenecer a una misma rama de enfermedades. Estas enfermedades
    se dividen por sus sintomas y la intensidad con la que se presentan. 
</p>
{% endblock %}
