{% extends 'index.html' %}
{% block content %}
<div  style="background-color: dodgerblue;">
    <br>
        <h2 class="display-3 text-center">Diagnóstico de enfermedades aplicando lógica difusa</h2>
    <br>
</div>
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="/">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/modelo">Modelo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/eleccion">Llenado de datos</a>
    </li>
</ul>
<div  style="background-color: dodgerblue;">
    <br>
        <h2 class="display-5 text-center">Los integrantes del equipo son:</h2>
    <br>
</div>
<br>
<h2 class="display-5 text-center font-weight-bold">Santiago Gómez Rivadeneyra Exp:267776</h2>
<h2 class="display-5 text-center font-weight-bold">Nuñez Baeza Ismael Josetp  Exp: 267803</h2>    
<br>
<h2 class="display-6 " style="font-style: oblique; margin-left: 2%;">
    <p>
        El objetivo es el desarrollo de un módulo de diagnóstico de enfermedades aplicando Lógica Difusa.
        <br>
        Las enfermedades a diagnosticar deben pertenecer a una misma rama de enfermedades. Estas enfermedades se dividen por sus síntomas y la intensidad con la que se presentan. 
    </p>
</div>
{% endblock %}
